
body {
    margin: auto
}

#grid {
    display: grid;
    grid-template-columns: repeat(70, 20px);
}

.cell {
    background: rgb(243, 243, 243);
    width: 20px;
    height: 20px;
    margin: 0;
}

.cell:hover {
    background: radial-gradient(rgb(0, 190, 218), rgb(0, 217, 159));
}

.active {
    background: rgb(12, 53, 71);
}

button {
    margin: 0;
    height: 25px;
    flex: 1;
    border:  1px solid rgb(219, 219, 219);
}

button:hover {
    background: rgb(222, 222, 222);
}

.controller {
    width: calc(20px * 70);
    display: flex;
}

#pauseBtn {
    flex-grow: 1;
    width: calc(20px * 70);
}

.btnActive, 
.btnActive:hover {
    background: radial-gradient(rgb(0, 190, 218), rgb(0, 217, 159));
}