
body {
    margin: auto
}

#grid {
    display: grid;
    grid-template-columns: repeat(70, 20px);
}

.cell {
    background: rgb(243, 243, 243);
    width: 20px;
    height: 20px;
    margin: 0;
}

.cell:hover {
    background: radial-gradient(rgb(111, 193, 240), rgb(143, 255, 223));
}

.active {
    background: red;
}

button {
    /* width: 130px; */
    border: none;
    margin: 0;
    height: 25px;
    flex: 1;
    border:  1px solid rgb(219, 219, 219);
}

button:hover {
    background: rgb(222, 222, 222);
}

.controller {
    /* margin-bottom: 10px; */
    width: calc(20px * 70);
    display: flex;
}

#pauseBtn {
    /* margin-left: 130px; */
    flex-grow: 1;
    width: calc(20px * 70);
}

.btnActive {
    background: #235de5;
    color: white;
}

.btnActive:hover {
    background: #235de5;
}